* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Oswald', sans-serif;
    font-size: 100%;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

html {
    background-color: #14191d;
}

h1 {
    text-align: center;
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    
    padding: 15px;
    line-height: 1.4;
    font-size: 105%;
    font-weight: 400;
    
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.box {
    padding: 3%;
}

.clearfix {zoom : 1}
.clearfix:after {
    content:'.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}
/*---------------------------------
Icons
-----------------------------------*/

.ikoonid {
    height: 100px;
    display: block;
    margin: 0 auto;
}

.small_icon {
    height: 40px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.small_icon:hover {
    opacity: 0.9
}


/*---------------------------------
Header
-----------------------------------*/

.header {
    padding: 10px 16px;
    background: #1b2127;
    color: #f1f1f1;
    height: 45px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%
}

.my-nav {
    float: right;
    list-style: none;
}

.my-nav li {
    display: inline-block;
    margin-left: 40px;
}

.my-nav li a:link,
.my-nav li a:visited {
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 110%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.my-nav li a:hover,
.my-nav li a:active {
    border-bottom: 2px solid white;
}

.hero-text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.intro {
    height: 100vh;
    color: white;
    font-size: 150%;
    font-weight: 300;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/forest.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.hero-text-box span {
    display: block;
}

.text1 {
    color: rgba(255, 255, 255, 0.637);
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 10px;
    position: relative;
    animation: text 4s;
}

.text2 {
    color: rgba(255, 255, 255, 0.637);;
    animation: text 4s;
}

@keyframes text {
    0% {
        color: rgba(255, 255, 255, 0);
        letter-spacing: 25px;
    }
}

/*-----------------------------------
About me
-------------------------------------*/

.about-me {
    height: 125vh;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me h1:after,
.about-me h1:before {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    font-size: 110%;
}

.about-me h3 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 120%;
}

.my_row {
    width: 75%;
    margin-top: 20px;
}




/*---------------------------------------
Projects
-----------------------------------------*/

.projects {
    height: 175vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.projects h1:after,
.projects h1:before {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects img {
    
    padding: 20px;
    height: 250px;
    display: block;
    margin: 0 auto;
    
}

.btn:link,
.btn:visited {
    background-color: #14191d;
    border: 1px solid #14191d;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    color: #14191d;
    border: 1px solid #14191d;
}

.btns1,
.btns2 {
    display: flex;
    justify-content: center;
}

.projects p {
    display: block;
    margin: 0 auto;
    width: 70%;
}

.projects .row {
    display: flex;
    justify-content: center;
}

/*------------------------------------------
Skills
--------------------------------------------*/

.skills {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/mountains.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills h1 {
    color: white;
}

.skills h1:after,
.skills h1:before {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.my-list {
    margin-top: 20px;
    text-align: center;
    list-style: none;
}
.my-list li {
    margin-top: 3px;
    color: white;
    font-size: 125%;
}

.my-col-two {
    padding: 30px;
}

/*---------------------------------------------
Sports
----------------------------------------------*/

.sports {
    height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-photos {
    list-style: none;
    width: 75%;
    margin: 30px auto;
    padding: 20px;
}

.sports-photos li {
    display: block;
    float: left;
    width: 33.3%;
}

.sport-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    
}

.sport-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.sport-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

.sports h1:after,
.sports h1:before {
    display: block;
    height: 2px;
    background-color: black;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fis-icon {
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    width: 50px;
}

.fis-icon img{
    height: 50px;
}

/*-------------------------------------------
FOOTER
---------------------------------------------*/

footer {
    background: #1b2127;
    height: 60px;
    padding: 10px;
}

.my-row {
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
}







